<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
</head>
<body>
    <h1>New User? Sign-Up:</h1>
    <form action="/signup" id="sign-up" method="post">

        <label for="username">Username: </label>
        <input id="new_username" type="text" name="username">

        <br />
        <label for="password">Password: </label>
        <input id="new_password" type="text" name="password">
        <input type="submit" value="sign-up">

    </form>



    <br />
    <h1>Or login:</h1>
    <form action="/login" id="login" method="post">

        <label for="username">Username: </label>
        <input id="username" type="text" name="username">

        <br />
        <label for="password">Password: </label>
        <input id="password" type="text" name="password">
        <input type="submit" value="login">

    </form>
</body>
</html>